//* Layout

.wrapper {
  @include outer-container;
}

#yield {
  @include pad(default);
}

.whole {
  @include span-columns(12);
  @include clearfix;
}

.half {
  @include span-columns(6);
}

.two-thirds {
  @include span-columns(8)
}

.one-third {
  @include span-columns(4);
}

.three-fourths {
  @include span-columns(9);
}

.one-fourth {
  @include span-columns(3);
}

.half, .two-thirds, .one-third, .three-fourths, .one-fourth {
  // TODO: Maybe some sort of row/span approach
  &.end {
    @include omega;
  }
}

.one-fourth.end + .one-fourth.end {
  margin-top: $small-spacing;
}

//* Misc/Utility
// TODO: move somewhere that makes more sense

.caps {
  text-transform: capitalize;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.center {
  text-align: center;
}

.markdown {
  display: inline-block;

  ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

.clearfix {
  @include clearfix();
}

.sr {
  @include hide-text;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

// @mixin hexagon($color, $size) {
//   $half-size: $size / 2;
//   $quarter-size: $size / 4;
//
//   width: $size;
// 	height: $half-size + ($size / 20);
// 	background: $color;
// 	// position: relative;
// 	position: absolute;
//
//   &:before, &:after {
//     content: "";
//   	position: absolute;
//   	left: 0;
//   	width: 0;
//   	height: 0;
//   	border-left: $half-size solid transparent;
//   	border-right: $half-size solid transparent;
//   }
//
//   &:before {
//   	top: (-$quarter-size);
//   	border-bottom: $quarter-size solid $color;
//   }
//
//   &:after {
//   	bottom: (-$quarter-size);
//   	border-top: $quarter-size solid $color;
//   }
// }
//
// @mixin bordered-hexagon($color, $size, $border-color, $border-size) {
//   $border-size-mod2: abs($border-size - (ceil($border-size / 2) * 2));
//   $modded-border-size: $border-size + $border-size-mod2;
//   $border-hexagon-size: ($border-size * 2 + $border-size-mod2 + $size);
//
//   position: relative;
//
//   .border {
//     @include hexagon($border-color, $border-hexagon-size);
//     margin-top: (-$modded-border-size / 2);
//     margin-left: (-$modded-border-size);
//   }
//
//   .hexagon {
//     @include hexagon($color, $size);
//   }
//
//   .border, .hexagon {
//     display: inline-block;
//   }
// }
//
// @mixin hexagon-text {
//   text-align: center;
//   position: relative;
//   top: 50%;
//   @include transform(translateY(-50%));
// }
//
// $hexagon-size: round($centered-navigation-height * 0.75);
// #hexagon {
//   $border-size: 5px;
//
//   font-size: 1em;
//   top: (-$centered-navigation-height / 4);
//
//   @include bordered-hexagon($action-color, $hexagon-size, $dark-gray, $border-size);
//
//   .hexagon span {
//     @include hexagon-text;
//   }
//   // margin-top: (-$centered-navigation-height);
// }

li.nav-link.logo {
  // display: inline-block !important;
  // min-width: $hexagon-size !important;
  margin: auto $gutter;
}

.logo {
  span {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 0.3em;

    &.hug {
      color: $base-font-color;
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}

li.nav-link {
  text-align: center;
  a {
    margin: 0 auto;
  }
}

footer .contact > span {
  display: inline-block;
  margin: auto 0.5em;
}

//* Body texture

$texture-top-background: lighten(tint($action-color, 30%), 45%); //lighten(#ddf0ef, 1%);
$texture-bottom-background: $base-background-color; //darken(#ddf0ef, 10%);

.texture {
  // gradient angle, gradient color 1, gradient color 2, texture-number, 0=inverted or 1=normal
  @include texture(180deg, $texture-top-background, $texture-bottom-background, 77, 1);
}

fieldset {
  background-color: darken($base-background-color, 5%);
}

// TODO: seriously clean up/refactor/prune all of the stylesheets
