//* Layout

.wrapper {
  @include outer-container;
}

#yield {
  @include pad(default);
}

.whole {
  @include span-columns(12);
  @include clearfix;
}

.half {
  @include span-columns(6);
}

.two-thirds {
  @include span-columns(8)
}

.one-third {
  @include span-columns(4);
}

.three-fourths {
  @include span-columns(9);
}

.one-fourth {
  @include span-columns(3);
}

.half, .two-thirds, .one-third, .three-fourths, .one-fourth {
  // TODO: Maybe some sort of row/span approach
  &.end {
    @include omega;
  }
}

//* Badgery

// TODO: friday

//* Misc/Utility
// TODO: move somewhere that makes more sense

.caps {
  text-transform: capitalize;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.markdown {
  display: inline-block;

  ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

.sr {
  @include hide-text;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
