//* Filters

#posting-filters {
  @include fill-parent();

  .whole, .half, .two-thirds, .one-third, .three-fourths, .one-fourth {
    margin-bottom: $gutter;
  }
}

//* Flex Boxes

.flex-boxes {
  $flex-box-lighter-color: transparentize($flex-box-color, 0.1);

  h2, .markdown {
    color: $flex-box-lighter-color;
  }

  .stats {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    // margin-bottom: $gutter;
    padding-bottom: $gutter;

    span {
      color: $flex-box-color;
    }

    li {
      color: $flex-box-lighter-color;
      float: none;
      display: inline-block;
    }
  }

  .details {
    text-align: left;

    h3, .expander .expander-trigger {
      color: $flex-box-color;
    }

    .expander {
      @include fill-parent();
      margin-top: $gutter / 2;

      .expander-trigger {
        margin-bottom: 0;

        &.null {
          color: $flex-box-lighter-color;

          &:before {
            color: rgba(0, 0, 0, 0);
          }
        }
      }

      .expander-content fieldset {
        border-top: 0;
      }
    }
  }
}


//* Posting Show

#posting-title {
  margin-bottom: $gutter;

  h1 {
    font-size: 2em;
    margin-bottom: 0;

    small {
      display: block;
      font-size: 0.5em;
    }
  }

  a.button {
    margin-top: 0.75em;
  }
}
